<div class="modal fade @(Visible ? "show d-block" : "")"
     tabindex="-1"
     style="background-color: rgba(0,0,0,0.5);">
  <div class="modal-dialog">
    <div class="modal-content">
      @ChildContent
    </div>
  </div>
</div>

@code {
  [Parameter] public bool Visible { get; set; }
  [Parameter] public EventCallback<bool> VisibleChanged { get; set; }
  [Parameter] public RenderFragment? ChildContent { get; set; }
}
